/* =====GOOGLE FONTS====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =====COMMON STYLES====== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

a {
    color: #fff;
    transition: all 400ms ease;
}

a:hover {
    color: #fff;
}

.btn {
    text-align: center;
    width: max-content;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
}

.btn:hover {
    background: #fff;
    color: #4db5ff;
    border: 1px solid #4db5ff;
}

.btn-primary {
    background: #4db5ff;
    color: #fff;
}

.section-title {
    text-align: center;
    padding: 0 250px;
}
.title{
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}
.small-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    ;
    margin-bottom: .9rem;
}

hr {
    border: 1px solid #DADADA;
    margin-bottom: 1.3rem;
}
/* ========BANNER SECTION STYLE======== */

.banner-section {
    background-image: url(./images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    opacity: .7;
    z-index: -5;
}

.banner-content {
    width: 50%;
}

.banner-content h1 {
    font-size: 3rem;
    color: #fff;
}

.banner-content p {
    margin-bottom: 5px;
    color: #fff;
}

/*=========== Donate section style========= */
.donate-today {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;

}

.donate-content {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0;
    transition: all 400ms ease;
}

.donate-content:hover {
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.donate-section {
    width: 691px;
    margin-left: 200px;
    text-align: center;
}

.donate-section p {
    text-align: center;
}

.donate-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #B3B3B3;
    text-align: center;
    margin-bottom: .7rem;
}

/*========donate plan section======= */

.donate-plan-section {
    display: flex;
    gap: 1.5rem;
}

#Shelter {
    background: #dfe4ea;
}

#food {
    background-color: #ffcccc;
}

#education {
    background-color: #F8EFBA;
}

.donate-plan-content {
    overflow: hidden;
    padding: 2rem 1rem;
    border-radius: 10px;
}
/* ========CONTACT  STYLE======== */
.contact-section{
    display: flex;
    gap: 5rem;
}
.contact-title {
    color: #181515;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 3rem;
}
.detils-info{
    color: #141313;
    font-size: .9rem;
    padding: .7rem 0;
}
.contact-info{
    width: 45%;
}
.contact-detils{
    margin-top: 1rem;
}
.icons{
    color: #FF5959;
    font-size: 1.5rem;
   margin: 0 .5rem;
}
.contact-form{
    width: 30%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid  #4db5ff;
    resize: none;
    color: var(--color-white);
}
/* ========HELP BANNER  STYLE======== */
.help-section{
    height: 150px;
    background-color: #FF5959;
}
.help-banner-section{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
.help-banner-left{
    margin-top: 1rem;
}
.help-banner-left h1{
    font-size: 3rem;
    color: #fff;
}
.help-banner-left{
    font-size: 1.3rem;
    color: #fff;
}
.help-banner-right {
   margin-top: 2rem;
}
/*=======update subscribe style=======*/
.update-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-section p{
    text-align: center;
    width: 400px;
}
.update-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 150px;
    background-color: #F8EFBA;
    border-radius: 5px;
    margin-top: 2rem;
}

.email-input {
    text-align: center;
    width: max-content;
    display: inline-block;
    color: #4db5ff;
    padding: 0.75rem 1.2rem;
    border-radius: 5px 0 0 5px;
    border: 1px solid #4db5ff;
}

.submit-input {
    text-align: center;
    width: max-content;
    display: inline-block;
    color: #fff;
    padding: 0.75rem 1.2rem;
    border-radius: 0 5px 5px 0;
    border: 1px solid #4db5ff;
    background-color: #4db5ff;
}

/*=======footer style=======*/
footer {
    background-color: #0B0D17;
    height: 177px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: #fff;
    font-size: 36px;
    line-height: 44px;
}

footer small {
    color: #fff;
} 